apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--clean-docs"
  labels:
    ai-services.io/application: "{{ .AppName }}"
spec:
  containers:
    - name: clean-docs
      image: icr.io/ai-services-private/rag:v0.0.3
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "ingest.cli"
        - "clean-db"
      resources:
        requests:
          memory: "1Gi"
        limits:
          memory: "1Gi"
      env:
        - name: MILVUS_HOST
          value: "{{ .AppName  }}--milvus"
        - name: MILVUS_PORT
          value: "19530"
        - name: MILVUS_DB_PREFIX
          value: "RAG_DB"
        - name: MILVUS_COLLECTION_NAME
          value: "{{ .AppName  }}"
      volumeMounts:
        - mountPath: /var/cache:Z
          name: cache
  restartPolicy: OnFailure
  volumes:
    - name: cache
      hostPath:
        path: "/var/lib/ai-services/{{ .AppName }}/cache"
        type: DirectoryOrCreate
