apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--ingest-docs"
  labels:
    ai-services.io/application: "{{ .AppName }}"
spec:
  containers:
    - name: ingest-docs
      image: icr.io/ai-services-private/rag:v0.0.3
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "ingest.cli"
        - "ingest"
      resources:
        requests:
          memory: "10Gi"
        limits:
          memory: "10Gi"
      env:
        - name: EMB_ENDPOINT
          value: "http://{{ .AppName  }}--vllm-server:8001"
        - name: EMB_MODEL
          value: "ibm-granite/granite-embedding-278m-multilingual"
        - name: EMB_MAX_TOKENS
          value: "512"
        - name: LLM_ENDPOINT
          value: "http://{{ .AppName  }}--vllm-server:8000"
        - name: LLM_MODEL
          value: "ibm-granite/granite-3.3-8b-instruct"
        - name: MILVUS_HOST
          value: "{{ .AppName  }}--milvus"
        - name: MILVUS_PORT
          value: "19530"
        - name: MILVUS_DB_PREFIX
          value: "RAG_DB"
        - name: MILVUS_COLLECTION_NAME
          value: "{{ .AppName  }}"
      volumeMounts:
        - mountPath: /var/docs:Z
          name: docs
          readOnly: true
        - mountPath: /var/cache:Z
          name: cache
  restartPolicy: OnFailure
  volumes:
    - name: docs
      hostPath:
        path: "/var/lib/ai-services/{{ .AppName }}/docs"
        type: DirectoryOrCreate
    - name: cache
      hostPath:
        path: "/var/lib/ai-services/{{ .AppName }}/cache"
        type: DirectoryOrCreate
