apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--caddy"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
    ai-services.io/component: "proxy"
  annotations:
    ai-services.io/ports: "{{ .Values.caddy.adminPort }}:2019,{{ .Values.caddy.httpsPort }}:443"
spec:
  containers:
    - name: caddy
      image: "{{ .Values.caddy.image }}"
      imagePullPolicy: IfNotPresent
      args: ["caddy", "run", "--config", "/data/caddy/Caddyfile", "--resume"]
      env:
        - name: CADDY_ADMIN
          value: "0.0.0.0:2019"
      ports:
        - containerPort: 2019
          hostPort: {{ .Values.caddy.adminPort }}
          hostIP: 127.0.0.1
        - containerPort: 443
          hostPort: {{ .Values.caddy.httpsPort }}
          hostIP: 0.0.0.0
      volumeMounts:
        - name: caddy-data
          mountPath: /data/caddy:z
      resources:
        requests:
          memory: "512Mi"
        limits:
          memory: "512Mi"
      livenessProbe:
        tcpSocket:
          port: 2019
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 3
        failureThreshold: 3
  volumes:
    - name: caddy-data
      hostPath:
        path: {{ .BaseDir }}/common/caddy
        type: DirectoryOrCreate
