apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--clean-docs"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    ai-services.io/start: "off"
spec:
  containers:
    - name: clean-docs
      image: "{{ .Values.backend.image }}"
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "ingest.cli"
        - "clean-db"
      resources:
        requests:
          memory: "1Gi"
        limits:
          memory: "1Gi"
      env:
        - name: MILVUS_HOST
          value: "{{ .AppName  }}--milvus"
        - name: MILVUS_PORT
          value: "19530"
        - name: MILVUS_DB_PREFIX
          value: "RAG_DB"
        - name: MILVUS_COLLECTION_NAME
          value: "{{ .AppName  }}"
      volumeMounts:
        - mountPath: /var/cache:z
          name: cache
  restartPolicy: Never
  volumes:
    - name: cache
      hostPath:
        path: "/var/lib/ai-services/applications/{{ .AppName }}/cache"
        type: DirectoryOrCreate
