apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--milvus"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
spec:
  containers:
     # Etcd sidecar
    - name: etcd
      image: "{{ .Values.etcd.image }}"
      command:
        - etcd
        - --data-dir=/etcd
        - -advertise-client-urls=http://127.0.0.1:2379
        - -listen-client-urls=http://0.0.0.0:2379
      env:
        - name: ETCD_AUTO_COMPACTION_MODE
          value: "revision"
        - name: ETCD_AUTO_COMPACTION_RETENTION
          value: "1000"
        - name: ETCD_QUOTA_BACKEND_BYTES
          value: "4294967296"
        - name: ETCD_SNAPSHOT_COUNT
          value: "50000"
      ports:
        - name: etcd
          containerPort: 2379
      resources:
        requests:
          memory: 80Mi
        limits:
          memory: 80Mi
      workingDir: /
      volumeMounts:
        - name: etcd-data
          mountPath: /etcd
      livenessProbe:
        exec:
          command:
            - etcdctl
            - endpoint
            - health
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 20
        failureThreshold: 3
    
    # MinIO sidecar
    - name: minio
      image: "{{ .Values.minio.image }}"
      command: ["minio", "server", "/minio_data", "--console-address", ":9001"]
      env:
        - name: MINIO_ROOT_USER
          value: ai-services
        - name: MINIO_ROOT_PASSWORD
          value: ai-services
      ports:
        - name: minio-api
          containerPort: 9000
        - name: minio-console
          containerPort: 9001
      resources:
        requests:
          memory: 256Mi
        limits:
          memory: 256Mi
      volumeMounts:
        - mountPath: /minio_data
          name: minio-storage
      livenessProbe:
        exec:
          command:
            - mc
            - ready
            - local
        initialDelaySeconds: 30
        periodSeconds: 30
        timeoutSeconds: 20
        failureThreshold: 3

    # Milvus main container
    - name: milvus
      image: "{{ .Values.milvus.image }}"
      command: ["milvus", "run", "standalone"]
      env:
        - name: ETCD_ENDPOINTS
          value:  http://127.0.0.1:2379
        - name: MINIO_ADDRESS
          value: 127.0.0.1:9000
        - name: MINIO_ACCESS_KEY_ID
          value: ai-services
        - name: MINIO_SECRET_ACCESS_KEY
          value: ai-services
        - name: MINIO_USE_SSL
          value: "false"
      ports:
        - name: milvus-grpc
          containerPort: 19530
          # hostPort: 19530
        - name: milvus-metrics
          containerPort: 9091
          # hostPort: 9091
      resources:
        requests:
          memory: "{{ .Values.milvus.memoryLimit }}"
        limits:
          memory: "{{ .Values.milvus.memoryLimit }}"
      volumeMounts:
        - mountPath: /var/lib/milvus
          name: milvus-data
      livenessProbe:
        httpGet:
          path: /healthz
          port: 9091
        initialDelaySeconds: 90
        periodSeconds: 30
        timeoutSeconds: 20
        failureThreshold: 3

  volumes:
    - name: etcd-data
      hostPath:
        path: "/var/lib/ai-services/applications/{{ .AppName }}/volumes/etcd"
        type: DirectoryOrCreate
    - name: minio-storage
      hostPath:
        path: "/var/lib/ai-services/applications/{{ .AppName }}/volumes/minio"
        type: DirectoryOrCreate
    - name: milvus-data
      hostPath:
        path: "/var/lib/ai-services/applications/{{ .AppName }}/volumes/milvus"
        type: DirectoryOrCreate
