apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--vllm-server"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    ai-services.io/model1: BAAI/bge-reranker-v2-m3
    ai-services.io/model2: ibm-granite/granite-embedding-278m-multilingual
    ai-services.io/model3: ibm-granite/granite-3.3-8b-instruct
    ai-services.io/instruct--spyre-cards: "4"
spec:
  volumes:
    - name: dshm
      emptyDir:
        medium: Memory
        sizeLimit: 64Gi
    - name: dshm2
      emptyDir:
        medium: Memory
        sizeLimit: 64Gi
    - name: models
      hostPath:
        path: "/var/lib/ai-services/models"
        type: Directory
  containers:
    - name: instruct
      image: "{{ .Values.instruct.image }}"
      command: ["/bin/bash"]
      args:
        - "-c"
        - |
          /opt/app-root/spyre_entrypoint.sh \
          --model ${VLLM_MODEL_PATH} \
          -tp ${AIU_WORLD_SIZE} \
          --max-model-len ${MAX_MODEL_LEN} \
          --max-num-seqs ${MAX_BATCH_SIZE} \
          --served-model-name ibm-granite/granite-3.3-8b-instruct --port 8000
      livenessProbe:
        httpGet:
          path: /health
          port: 8000
        initialDelaySeconds: 420
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
        - name: VLLM_MODEL_PATH
          value: "/models/ibm-granite/granite-3.3-8b-instruct"
        - name: AIU_WORLD_SIZE
          value: "4"
        - name: VLLM_SPYRE_USE_CB
          value: "1"
        - name: MAX_MODEL_LEN
          value: "32768"
        - name: MAX_BATCH_SIZE
          value: "32"
        - name: MASTER_PORT
          value: "12355"
        {{- /* Check if .env.instruct exists and is a non-empty map */}}
        {{- with .env.instruct }}
          {{- /* If it does, '.' (dot) is now scoped to .env.instruct */}}
          {{- range $k, $v := . }}
        - name: {{ $k }}
          value: "{{ $v }}"
          {{- end }}
        {{- end }}
      resources:
        requests:
          podman.io/device=/dev/vfio: 4
          memory: "150Gi"
        limits:
          memory: "150Gi"
      ports:
        - containerPort: 8000
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /dev/shm
          name: dshm
    - name: embedding
      image: "{{ .Values.embedding.image }}"
      command: ["/bin/sh", "-c"]
      args: [
          "vllm serve /models/ibm-granite/granite-embedding-278m-multilingual --served-model-name ibm-granite/granite-embedding-278m-multilingual --port 8001"
      ]
      livenessProbe:
        httpGet:
          path: /health
          port: 8001
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "4Gi"
        limits:
          memory: "4Gi"
      ports:
        - containerPort: 8001
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
    - name: reranker
      image: "{{ .Values.reranker.image }}"
      command: ["/bin/sh", "-c"]
      args: [
          "vllm serve /models/BAAI/bge-reranker-v2-m3 --served-model-name BAAI/bge-reranker-v2-m3 --port 8002"
      ]
      livenessProbe:
        httpGet:
          path: /health
          port: 8002
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "5Gi"
        limits:
          memory: "5Gi"
      ports:
        - containerPort: 8002
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /dev/shm
          name: dshm2
